<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <context-param>
    <param-name>password</param-name>
    <param-value>1234</param-value>
  </context-param>
  
  <context-param>
  	<param-name>encoding</param-name>
  	<param-value>UTF-8</param-value>
  </context-param>
  
  <!-- 用户信息放入到 session 中的键的名字 -->
  <context-param>
  	<param-name>userSessionKey</param-name>
  	<param-value>USERSESSIONKEY</param-value>
  </context-param>
  
  <!-- 若未登录, 需重定向的页面 -->
  <context-param>
  	<param-name>rediretPage</param-name>
  	<param-value>/login/login.jsp</param-value>
  </context-param>
  
  <!-- 不需要拦截(或检查)的 URL 列表 -->
  <context-param>
  	<param-name>uncheckedUrls</param-name>
  	<param-value>/login/a.jsp,/login/list.jsp,/login/login.jsp,/login/doLogin.jsp,/login/b.jsp</param-value>
  </context-param>
  
  
  <filter>
    <filter-name>helloFilter</filter-name>
    <filter-class>com.atguigu.javaweb.HelloFilter</filter-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>root</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>helloFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>secondFilter</filter-name>
    <filter-class>com.atguigu.javaweb.SecondFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>secondFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>UserNameFilter</display-name>
    <filter-name>UserNameFilter</filter-name>
    <filter-class>com.atguigu.javaweb.UserNameFilter</filter-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Tom</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserNameFilter</filter-name>
    <url-pattern>/hello.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PasswordFilter</display-name>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>com.atguigu.javaweb.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/hello.jsp</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/test.jsp</location>
  </error-page>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.atguigu.javaweb.cache.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/cache/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.atguigu.javaweb.encoding.EncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/encoding/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.atguigu.javaweb.login.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/login/*</url-pattern>
  </filter-mapping>
  
</web-app>